<!-- START #fh5co-header -->
<?php
	use App\View\AppView;
	use App\Controller\AppController;
	use Cake\Network\Session\DatabaseSession;
?>

		 <!-- Title -->
        <title>Enlighten - Professional Bootstrap Template</title>
        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Favicon -->
        <link href="favicon.ico" rel="shortcut icon">
        
        <div id="body_bg">
            <div id="pre_header" class="container">
                <div class="row margin-top-10 visible-lg">
                    <div class="col-md-6">
                        <p>
                            <strong>Phone:</strong>&nbsp; 0123456789</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            <strong>Email:</strong>Englishunlimted.com</p>
                    </div>
                </div>
            </div>
            <div class="primary-container-group">
                <!-- Background -->
                <div class="primary-container-background">
                    <div class="primary-container"></div>
                    <div class="clearfix"></div>
                </div>
                <!--End Background -->
                <div class="primary-container">
                    <div id="header" class="container">
                        <div class="row">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html" title="">
                                    <img src="img/logo5.png" alt="Logo" />
                                </a>
                            </div>
                            <!-- End Logo -->
                            <!--icon -->
                            <ul class="social-icons pull-right hidden-xs">
                              
                                 <li class="social-facebook"><a href="#" target="_blank" title="">Facebook</a></li>                                 </
                            </ul>
                            <!--end icon -->
                        </div>
                    </div>
                    <!-- Top Menu -->
                    <div id="hornav" class="container no-padding">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="pull-right visible-lg">
                                    <ul id="hornavmenu" class="nav navbar-nav">
                                        <li>
                                            <a href="index.html" class="fa-home">Trang chủ</a>
                                        </li>
                                        <li>
                                            <span class="fa-gears">Features</span>
                                            <ul>
                                                <li class="parent">
                                                    <span>Typography</span>
                                                    <ul>
                                                        <li>
                                                            <a href="features-typo-basic.html">Basic Typography</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-typo-blockquotes.html">Blockquotes</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <span>Components</span>
                                                    <ul>
                                                        <li>
                                                            <a href="features-labels.html">Labels</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-progress-bars.html">Progress Bars</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-panels.html">Panels</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-pagination.html">Pagination</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <span>Icons</span>
                                                    <ul>
                                                        <li>
                                                            <a href="features-icons.html">Icons General</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-icons-social.html">Social Icons</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-icons-font-awesome.html">Font Awesome</a>
                                                        </li>
                                                        <li>
                                                            <a href="features-icons-glyphicons.html">Glyphicons</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="features-testimonials.html">Testimonials</a>
                                                </li>
                                                <li>
                                                    <a href="features-accordions-tabs.html">Accordions & Tabs</a>
                                                </li>
                                                <li>
                                                    <a href="features-buttons.html">Buttons</a>
                                                </li>
                                                <li>
                                                    <a href="features-carousels.html">Carousels</a>
                                                </li>
                                                <li>
                                                    <a href="features-grid.html">Grid System</a>
                                                </li>
                                                <li>
                                                    <a href="features-animate-on-scroll.html">Animate On Scroll</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="fa-copy">Pages</span>
                                            <ul>
                                                <li>
                                                    <a href="pages-about-us.html">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="pages-services.html">Services</a>
                                                </li>
                                                <li>
                                                    <a href="pages-faq.html">F.A.Q.</a>
                                                </li>
                                                <li>
                                                    <a href="pages-about-me.html">About Me</a>
                                                </li>
                                                <li>
                                                    <a href="pages-full-width.html">Full Width</a>
                                                </li>
                                                <li>
                                                    <a href="pages-left-sidebar.html">Left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="pages-right-sidebar.html">Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="pages-login.html">Login</a>
                                                </li>
                                                <li>
                                                    <a href="pages-sign-up.html">Sign-Up</a>
                                                </li>
                                                <li>
                                                    <a href="pages-404.html">404 Error Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="fa-th">Portfolio</span>
                                            <ul>
                                                <li>
                                                    <a href="portfolio-2-column.html">2 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-3-column.html">3 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-4-column.html">4 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-6-column.html">6 Column</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="fa-font">Blog</span>
                                            <ul>
                                                <li>
                                                    <a href="blog-list.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single.html">Blog Single Item</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html" class="fa-comment">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Menu -->
                    <!-- === END HEADER === -->
                    <!-- === BEGIN CONTENT === -->
                    <div id="content">
                        <div class="container">
                            <div class="row margin-vert-30">
                                <div class="col-md-12 margin-top-30">
                                    <pre><code>&lt;div class="panel panel-red-style"&gt;
                                        &lt;div class="panel-heading"&gt;
                                            &lt;h3 class="panel-title"&gt;&lt;i class="fa fa-angle-double-right"&gt;&lt;/i&gt; Panel Header Text&lt;/h3&gt;
                                        &lt;/div&gt;
                                        &lt;div class="panel-body"&gt;
                                            &lt;h4&gt;Lorem Ipsum&lt;/h4&gt;  
                                            &lt;p&gt;At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.&lt;/p&gt;
                                        &lt;/div&gt;
                                        &lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
            <!-- === BEGIN FOOTER === -->
            <div id="base">
                <div class="container padding-vert-30 margin-top-40">
                    <div class="row">
                        <!-- Sample Menu -->
                        <div class="col-md-3 margin-bottom-20">
                            <h3 class="margin-bottom-10">Sample Menu</h3>
                            <ul class="menu">
                                <li>
                                    <a class="fa-tasks" href="#">Placerat facer possim</a>
                                </li>
                                <li>
                                    <a class="fa-users" href="#">Quam nunc putamus</a>
                                </li>
                                <li>
                                    <a class="fa-signal" href="#">Velit esse molestie</a>
                                </li>
                                <li>
                                    <a class="fa-coffee" href="#">Nam liber tempor</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Sample Menu -->
                        <!-- Contact Details -->
                        <div class="col-md-3 margin-bottom-20">
                            <h3 class="margin-bottom-10">Contact Details</h3>
                            <p>
                                <span class="fa-phone">Telephone:</span>(212)888-77-88
                                <br>
                                <span class="fa-envelope">Email:</span>
                                <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                                <br>
                                <span class="fa-link">Website:</span>
                                <a href="http://www.joomla51.com">www.joomla51.com</a>
                            </p>
                            <p>The Dunes, Top Road,
                                <br>Strandhill,
                                <br>Co. Sligo,
                                <br>Ireland</p>
                        </div>
                        <!-- End Contact Details -->
                        <!-- Thumbs Gallery -->
                        <div class="col-md-3 margin-bottom-20">
                            <h3 class="margin-bottom-10">Portfolio Highlights</h3>
                            <div class="thumbs-gallery">
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image01.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image01.jpg" alt="image1.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image02.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image02.jpg" alt="image2.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image03.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image03.jpg" alt="image3.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image04.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image04.jpg" alt="image4.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image04.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image05.jpg" alt="image5.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image06.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image06.jpg" alt="image6.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image07.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image07.jpg" alt="image7.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image08.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image08.jpg" alt="image8.jpg">
                                    <i></i>
                                </a>
                                <a class="thumbBox" rel="lightbox-thumbs" href="assets/img/thumbsgallery/image09.jpg">
                                    <img src="assets/img/thumbsgallery/thumbs/image09.jpg" alt="image9.jpg">
                                    <i></i>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        