@charset "utf-8";
/* CSS Document */

.leadership{
	position:relative;
	width:100%;
	height:100%;
	background-image:url(../image/services_banner_1_0.jpg);
	background-repeat:no-repeat;
	}
/* CACH KHAC: TẠO KHỐI NỀN TRƯỚC
	#block{
	background:#000;
	position:absolute;
	opacity: 0.7;
	top:5%;
	left:5%;
	height:30%;
	width:50%;
	}
*/
.thongtin ul{
	width:100%;
	list-style:none;
}
.thongtin ul li{
	top:5%;
	float:left;
	color:#000;
	position:absolute;
	background-color:#FFF;
	opacity: 0.5;
	width:20%;
	height:30%;
	text-align:center;
	margin-left:10%;
}


/*#text2 {
	color:#000;
	position:absolute;
	background-color:#FFF;
	opacity: 0.7;
	top:5%;
	left:5%;
	width:20%;
	height:30%;
	text-align:center;
	padding-top:1%;
	padding-left:5%;
}*/
.image{
	padding-top:5%;
	left:10%;
}