#maincontainer {
	width: 960px;
	margin: 0 auto;
}

#contentwrapper {
	float: left;
	width: 100%;
}

#maincolumn {
	margin-top: 12px;
	margin-left: 200px;
}

.text {
	margin: 0 0 15px 15px;
}

#leftcolumn {
	margin-top: 15px;
	float: left;
	width: 200px;
	margin-left: -960px;
}

* html #leftcolumn { margin-top: 13px; }
* html #maincolumn { margin-top: 10px; }

/**************************************************
					Messages
**************************************************/
.error {
	background:#ffe1da url(../images/icon_error.jpg) 13px 50% no-repeat;
	border:2px solid #f34f4f;
	color:#be0b0b;
	padding:10px 11px 8px 36px;
	margin: 15px 40px 15px 20px;
}
.information {
	background:#dedfff url(../images/icon_information.jpg) 13px 50% no-repeat;
	border:2px solid #9bb8d9;
	color:#406299;
	padding:10px 11px 8px 38px;
	margin: 15px 40px 15px 20px;
}
.success {
	background:#e2f9e3 url(../images/icon_success.jpg) 13px 50% no-repeat;
	border:2px solid #9c9;
	color:#080;
	padding:10px 11px 8px 38px;
	margin: 15px 40px 15px 20px;
}
.warning {
	background:#fff8bf url(../images/icon_warning.jpg) 13px 50% no-repeat;
	border:2px solid #ffd324;
	color:#eb830c;
	padding:10px 11px 8px 38px;
	margin: 15px 40px 15px 20px;
}