@charset "utf-8";
/* CSS Document */

/*speaking*/
.cauhoi{
  margin: 6%;
  padding-left: 50px;
}
/*play game*/
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*video gợi ý*/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
}
.carousel-control.right {
  right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}



/*video gợi ý*/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
/*.tenchude{
  color: white;
  background: rgba(248, 105, 66, 0.7);
}*/
#icon-next li{
  border:1px solid #f76942;
}
#icon-next li .active{
  background-color: #f76942;
}

.carousel{
  margin-top: 30px;
  position: relative;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}

.item{
  min-height: 325px;
  padding-left: 30px;
  padding-right: 30px;
}

.item h2{
  width: 80%;
  color: #585858;
  padding: 15px;
  font-size: 38px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 2px 3px #444;
}

.item .block{
  width: 100%;
  float: left;
  color: #FFF;
  min-height: 200px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 3px #444;
}


.item h4{
  width: 100%;
  padding: 15px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 2px #555;
}


.item p{
  text-align: center;
  font-size: 18px;
}

.item .input-group{
  margin-bottom: 10px;
}

/*.block-1{
  background:url('../images/school.jpg');
}*/
/*goi y*/
.thumbnail {
    position:relative;
    overflow:hidden;
}
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.9);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
/*end goi y*/

.block-2{
   background:url('../images/hospital.png');
 }

.block-3{
  background:url('../images/fruit.jpg');
}

.block-4{ 
  background:url('../images/fast-food.jpg');
}
.block-5{ 
  background: url('../images/Environment.jpg');
}
.block-6{ 
  background: url('../images/mipham.jpg');
}
.block-7{ 
  background: url('../images/phone.jpg');
}
.block-8{ 
  background: url('../images/numbers.jpg');
}
.block-9{ 
  background: url('../images/alphabet.jpg');
}

.block-10{ 
  background: url('../images/jobs.jpg');
}


.carousel-indicators {
    bottom: 0px;
}
