

/***** Button 1 *****/
button:hover {
	background: rgba(0,0,0,0);
	color: orange;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.button-1 {
	display: inline-block;
	height: 53px;
	margin: 0;
	padding: 3px 18px 0 18px;
	font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: black;
    line-height: 18px;
   
}

.button-1:hover, .button-1:focus, .button-1.active {
	outline: none;
	background: #fff;
	color: orange;
	text-shadow: none;
	/*border-bottom: 1px solid #444A5A;*/

	/*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);*/
	/*-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);*/
	/*box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);*/
}


/***** Button 2 *****/

.button-2 {
	display: inline-block;
	vertical-align: middle;
	height: 62px;
	margin: 30px 0 0 30px;
    padding: 22px 30px 0 30px;
    background: none;
    font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color:white ;
    line-height: 18px;
    border-color: white;
    /*text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);*/
    -moz-border-radius: 4px white;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);*/
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);*/
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);*/
	margin-bottom: 50px;
}

.button-2:hover, .button-2:focus {
	/*background: white;*/
	color:white;
	border-color: white;
}


/***** Button 3 *****/

.portfolio-filters a {
	display: inline-block;
	height: 53px;
	margin: 5px 4px;
	padding: 19px 18px 0 18px;
	background: #b6d8d0;
	font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #87b0a6;
    line-height: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.08);
}

.portfolio-filters a:hover, .portfolio-filters a:focus, .portfolio-filters a.active {
	outline: none;
	background: #fff;
	color: #9ccbc0;
}


/***** Social button 1 *****/

.button-social-1 {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 2px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button-social-1:hover {
	outline: none;
	background-color: #9ccbc0;
}

.button-social-1.button-facebook-1 { background: #9ccbc0 url(../img/facebook.png) center center no-repeat; }
.button-social-1.button-google-plus-1 { background: #9ccbc0 url(../img/google-plus.png) center center no-repeat; }
.button-social-1.button-twitter-1 { background: #9ccbc0 url(../img/twitter.png) center center no-repeat; }
.button-social-1.button-pinterest-1 { background: #9ccbc0 url(../img/pinterest.png) center center no-repeat; }


/***** Social button 2 *****/

.button-social-2 {
	display: inline-block;
	height: 47px;
	margin: 0 17px 10px 0;
	padding-left: 47px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
}

.button-social-2:hover {
	outline: none;
	background-color: #9ccbc0;
}

.button-social-2.button-facebook-2 { background: #366375 url(../img/facebook.png) 11px center no-repeat; }
.button-social-2.button-google-plus-2 { background: #366375 url(../img/google-plus.png) 11px center no-repeat; }
.button-social-2.button-twitter-2 { background: #366375 url(../img/twitter.png) 11px center no-repeat; }
.button-social-2.button-pinterest-2 { background: #366375 url(../img/pinterest.png) 11px center no-repeat; }

.button-social-2 span {
	display: block;
	height: 47px;
	margin: 0;
	padding: 15px 17px 0 17px;
	background: #90bcb2;
	font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #444a5a;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

