
/***** Custom select *****/

.custom-select {
	width: 370px;
	height: 62px;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	text-align: left;
}

.select2-container .select2-choice {
	height: 62px;
	padding-left: 7px;
	line-height: 62px;
	background: #fff;
	filter: none;
	border: 0;
	-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	color: #9ea0a6;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	background: #fff;
	filter: none;
	border: 0;
}

.select2-drop {
	-moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
}

.select2-drop-active { padding: 0 0 7px 0; background: #fff url(../img/options-bg.png) repeat-y right top; border: 0; }

.select2-drop.select2-drop-above {
	-moz-box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 -2px 0 0 rgba(8, 8, 8, 0.4);
}

.select2-drop.select2-drop-above.select2-drop-active { padding: 7px 0 0 0; border: 0; }

.select2-container .select2-choice > .select2-chosen { margin-right: 70px; }

.select2-container .select2-choice .select2-arrow {
	width: 62px;
	background: #9ccbc0;
	filter: none;
	border: 0;
}

.select2-container .select2-choice .select2-arrow b { background: url(../img/select-arrow.png) no-repeat 22px 24px; }

.select2-dropdown-open .select2-choice .select2-arrow { border-radius: 0 4px 0 0; }
.select2-dropdown-open.select2-drop-above .select2-choice .select2-arrow { border-radius: 0 0 4px 0; }

.select2-results {
	max-height: 230px;
	margin: 0 66px 0 0;
	padding: 0;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	text-align: left;
}

.select2-results .select2-highlighted { background: #fff; color: #9ccbc0; }

.custom-select-image {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 7px 18px 7px 12px;
	vertical-align: middle;
}
.custom-select-image.custom-select-image-web-design { background: url(../img/web-design.png) center center no-repeat; }
.custom-select-image.custom-select-image-image-design { background: url(../img/image-design.png) center center no-repeat; }
.custom-select-image.custom-select-image-branding { background: url(../img/branding.png) center center no-repeat; }
.custom-select-image.custom-select-image-dtp { background: url(../img/dtp.png) center center no-repeat; }
.custom-select-image.custom-select-image-tv-campanies { background: url(../img/tv-campanies.png) center center no-repeat; }


/***** Project valuation form *****/

.project-valuation-form form label {
	font-family: 'signikasemibold', sans-serif;
	font-size: 16px;
	color: #9ea0a6;
    line-height: 20px;
    text-transform: uppercase;
}

/* custom select */
.project-valuation-form .select2-container .select2-choice, 
.project-valuation-form .select2-dropdown-open.select2-drop-above .select2-choice, 
.project-valuation-form .select2-dropdown-open.select2-drop-above .select2-choices, 
.project-valuation-custom-select.select2-drop-active, 
.project-valuation-custom-select .select2-results .select2-highlighted {
	background-color: #efefef;
}

.project-valuation-form .select2-container .select2-choice, 
.project-valuation-custom-select.select2-drop, 
.project-valuation-custom-select.select2-drop.select2-drop-above {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.project-valuation-form .select2-container .select2-choice, 
.project-valuation-custom-select .select2-results .select2-result-label {
	padding-left: 15px;
}

/* textarea */
.project-valuation-form form textarea {
	width: 100%;
	height: 153px;
	padding: 15px 20px;
	background: #efefef;
	border: 0;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	line-height: 26px;
	text-align: left;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.project-valuation-form form textarea:focus {
	outline: 0;
	background: #f0fffb;
    border: 2px solid #9ccbc0;
    color: #9ccbc0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}

/* project examples */
.project-valuation-form form .project-valuation-examples {
	width: 100%;
	padding: 5px 20px;
	background: #efefef;
	overflow: hidden;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.project-valuation-form form .project-valuation-examples.active { background: #f0fffb; border: 2px solid #9ccbc0; }

.project-valuation-form form .project-valuation-examples label {
	float: left;
	clear: left;
	width: 5%;
	height: 47px;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #d5d5d5;
	font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	line-height: 26px;
	font-weight: normal;
}
.project-valuation-form form .project-valuation-examples label.active { border-color: #9ccbc0; color: #9ccbc0; }

.project-valuation-form form input[type="text"] {
	float: left;
	width: 95%;
	height: 47px;
	margin: 0;
    padding: 10px 0;
    background: #efefef;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	line-height: 26px;
	text-align: left;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.project-valuation-form form input[type="text"]:last-child,
.project-valuation-form form input[type="text"]:last-child:focus,
.project-valuation-form form input[type="text"].active:last-child,
.project-valuation-form form .project-valuation-examples label.project-valuation-example-last-label { border: 0; }

.project-valuation-form form input[type="text"]:focus, 
.project-valuation-form form input[type="text"].active {
	outline: 0;
    background: #f0fffb;
    border: 0;
    border-bottom: 1px solid #9ccbc0;
    color: #9ccbc0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}

/* submit button */
.project-valuation-form form input[type="submit"], 
.project-valuation-form form input[type="submit"]:hover, 
.project-valuation-form form input[type="submit"]:active, 
.project-valuation-form form input[type="submit"]:focus {
	width: 100%;
	height: 62px;
    padding: 0;
    vertical-align: middle;
    background: #9ccbc0;
    border: 0;
    font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}


/***** Contact us form *****/

/* text input / textarea */
.contact-us-form form input[type="text"], 
.contact-us-form form textarea {
	width: 100%;
	height: 62px;
	margin: 0;
    padding: 0 60px;
    background: #fff;
    border: 0;
    font-family: 'signikalight', sans-serif;
	font-size: 20px;
	color: #9ea0a6;
	line-height: 26px;
	text-align: left;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 0 0 rgba(8, 8, 8, 0.4);
    filter: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.contact-us-form form textarea { height: 246px; padding-top: 19px; padding-bottom: 19px; }

.contact-us-form form input[type="text"]:focus, 
.contact-us-form form textarea:focus {
	outline: 0;
    background: #fff;
    border: 3px solid #9ccbc0;
    color: #9ccbc0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}

.contact-us-form form input[type="text"]:-moz-placeholder, .contact-us-form form textarea:-moz-placeholder { color: #9ea0a6; }
.contact-us-form form input[type="text"]:-ms-input-placeholder, .contact-us-form form textarea:-ms-input-placeholder { color: #9ea0a6; }
.contact-us-form form input[type="text"]::-webkit-input-placeholder, .contact-us-form form textarea::-webkit-input-placeholder { color: #9ea0a6; }

/* label */
.contact-us-form form label {
	width: 24px;
	height: 24px;
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.contact-us-form form label.contact-us-name-label { background: url(../img/contact-user.png) left top no-repeat; }
.contact-us-form form label.contact-us-email-label { background: url(../img/contact-email.png) left top no-repeat; }
.contact-us-form form label.contact-us-phone-label { background: url(../img/contact-phone.png) left top no-repeat; }
.contact-us-form form label.contact-us-message-label { background: url(../img/contact-pencil.png) left top no-repeat; }

.contact-us-form form label.contact-us-name-label.active { background: url(../img/contact-user-hover.png) left top no-repeat; }
.contact-us-form form label.contact-us-email-label.active { background: url(../img/contact-email-hover.png) left top no-repeat; }
.contact-us-form form label.contact-us-phone-label.active { background: url(../img/contact-phone-hover.png) left top no-repeat; }
.contact-us-form form label.contact-us-message-label.active { background: url(../img/contact-pencil-hover.png) left top no-repeat; }

/* submit button */
.contact-us-form form input[type="submit"], 
.contact-us-form form input[type="submit"]:hover, 
.contact-us-form form input[type="submit"]:active, 
.contact-us-form form input[type="submit"]:focus {
	width: 100%;
	height: 62px;
    padding: 0;
    vertical-align: middle;
    background: #001a4b;
    border: 0;
    font-family: 'signikaregular', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 18px;
    /*text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
}

