
body {
    background: #fff;
    text-align: center;
}


a:hover, a:focus {
	text-decoration: underline;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    color:white !important;

}
a {

    color: #fff !important;
}
.submit-wrapper .header2 a{
	  color:white !important;
}
/*img { max-width: 100%; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }*/


/***** Top menu *****/
.submit-wrapper .h2{
	font-family: 'Lobster Two', cursive;
	color:white;
	margin-bottom: 5px;
}
.h2{
	font-family: 'Lobster Two', cursive;
	color:white;
	margin-bottom: 5px;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	/*padding: 15px 0;*/
	background:#001a4b  no-repeat ;
	z-index: 99999;
	/*border-bottom:2px solid #444A5A;*/
	margin: 0px;

}

/*nav .nav-links { text-align: right; }*/
/*nav .nav-logo { text-align: left; }
*/
nav .nav-logo a {
	display: inline-block;
	width: 268px;
	height: 90px;
	margin: 10px 5px 6px -50px;
	padding-left:  7px;
	/*background: url(../img/logocute.png) left center no-repeat;*/
	text-indent: -9999px;
	font-family: 'Lobster', cursive;
	color: white;

}
submit-wrapper.header2 a{
	padding-top: 100px;
	color: white;
}

nav .show-menu {
	display: none;
	margin-top: 17px;
	margin-left: 30px;
}

/*nav .show-menu span {
	display: inline-block;
	width: 28px;
	height: 28px;
	background: url(../img/menu.png) left top no-repeat;
	cursor: pointer;
}*/


/***** Top content *****/

/*.top-content-container {
    margin: 0 auto;
    background: #464c5c;
}*/

.inner-bg {
	padding: 155px 0 70px 0;
	background: url(../img/back.jpg) left 109px  no-repeat;
}
.col-sm-12 top-content-computer:hover .p{
color:white;
}

.top-content-text h1 {
	font-family:  sans-serif;
	font-size: 36px;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.4);
}

.top-content-text h1 span.top-content-text-big {
	font-family:  sans-serif;
	font-size: 48px;
	color: #79c0ea;
	line-height: 52px;
}

.top-content-computer-container {
	position: relative;
	margin: 0 auto;
	width: 571px;
	height: 405px;
}
.top-content-computer-container img { width: 100%;opacity: 0.6; }

.top-content-video {
	position: absolute;
	top: 61px;
	left: 67px;
	width: 436px;
	height: 273px;
	cursor: pointer;
}
.top-content-video img { width: 71px; height: 74px; margin-top: 80px; }

.top-content-video p {
	margin-top: 15px;
	font-family:  sans-serif;
	font-size: 24px;
	color: #fff;
	line-height: 28px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.top-content-video iframe {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 436px;
	height: 273px;
}

.top-content-select {
	margin-top: 40px;
}


/***** Services *****/

.services-container {
    margin: 0 auto;
    padding: 35px 0 55px 0;
    color: #001a4b;
}

.services-box {
	margin-top: 30px;
}

.services-box h3 {
	padding: 0 0 4px 0;
	font-family:  sans-serif;
	font-size: 24px;
    color: white;
    line-height: 28px;
}

.services-box p {
	font-family:  sans-serif;
	font-size: 20px;
    line-height: 26px;
}

.services-box .services-box-icon {
    width: 111px;
    height: 111px;
    margin: 0 auto;
}


/***** Portfolio *****/

.portfolio-container {
    margin: 0 auto;
    /*padding: 45px 0 70px 0;*/
    background: #288ac8;
    color: #fff;
}

.portfolio h2 {
	font-family:  sans-serif;
	font-size: 60px;
	line-height: 64px;
	/*text-transform: uppercase;*/
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
}

.portfolio p {
	margin-top: 15px;
	padding: 0 120px;
    font-family: sans-serif;
	font-size: 20px;
    line-height: 26px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.portfolio-filters {
	padding: 40px 0 30px 0;
}

.portfolio-box {
	position: relative;
	width: 255px;
	margin: 30px 15px 0 15px;
	overflow: hidden;
}

.portfolio-box img {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.portfolio-box-text-container {
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	width: 255px;
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.portfolio-box-text {
	background: #464c5c;
	-moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
    cursor: pointer;
}
.portfolio-box:hover .portfolio-box-text-container { bottom: 0; }

.portfolio-box-text h3 {
	margin: 0;
	padding: 16px 20px 0 20px;
	font-family: sans-serif;
	font-size: 16px;
	color: #9ccbc0;
	line-height: 20px;
	text-transform: uppercase;
}

.portfolio-box-text p {
	margin: 0;
	padding: 3px 20px 15px 20px;
	font-family: sans-serif;
	font-size: 12px;
	color: #fff opacity:0.5;
	line-height: 16px;
	text-transform: uppercase;
}


/***** Our team *****/

.team-container {
    margin: 0 auto;
    padding: 45px 0 70px 0;
    font-family: sans-serif;
	font-size: 20px;
	color: #474748;
    line-height: 26px;
}

.team h2 {
	font-family: sans-serif;
	font-size: 60px;
	color: #001a4b;
	line-height: 64px;
	/*text-transform: uppercase;*/
}

.team p {
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 0 20px;
}

.team-box {
	margin-top: 30px;
	padding: 30px;
	border: 2px solid #474748;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.team-box-photo {
	float: left;
	width: 140px;
}

.team-box-photo img {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.team-box-text {
	float: left;
	width: 350px;
	padding-left: 30px;
	text-align: left;
}

.team-box-text h3 {
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	font-size: 20px;
	color: #001a4b;
	line-height: 24px;
	text-transform: uppercase;
}

.team-box-text p {
	margin: 20px 0 0 0;
}

.team-box-text .team-box-social {
	height: 38px;
	margin-top: 24px;
}


/***** Customer reviews *****/

.reviews-container {
    margin: 0 auto;
    padding: 45px 0 55px 0;
    background: #d96459;
    color: #fff;
}

.reviews h2 {
	font-family: sans-serif;
	font-size: 60px;
	line-height: 64px;
	text-transform: uppercase;
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
}

.reviews p {
    padding: 0 120px;
    font-family: 'Georgia', serif;
	font-size: 20px;
	font-style: italic;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.reviews a.review-author {
	font-family: sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #f8b3ac;
	line-height: 18px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.review-active {
	margin-top: 45px;
	padding-bottom: 20px;
}

.review-single {
	display: inline-block;
}

.review-single p {
	display: none;
}

.review-single-pagination {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin: 0 2px 10px 2px;
	background: #b8554c;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.review-single-pagination.active { border: 2px solid #fff; }

.review-single-pagination.active span {
	display: block;
	width: 14px;
	height: 14px;
	margin: 5px auto;
	background: #fff;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


/***** Bài học mới nhất *****/

.blog-container {
    margin: 0 auto;
    padding: 45px 0 70px 0;
}

.blog h2 {
	font-family:sans-serif;
	font-size: 60px;
	color: #001a4b;
	line-height: 64px;
	/*text-transform: uppercase;*/
}


.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

/***** Slider *****/

.slider {
	width: 1030px;
	margin: 0 auto;
}

.slider .carousel-control.left {
	left: -70px;
	width: 28px;
	background: url(../img/slider-left.png) center center no-repeat;
	filter: none;
}

.slider .carousel-control.right {
	right: -70px;
	width: 28px;
	background: url(../img/slider-right.png) center center no-repeat;
	filter: none;
}

.slider .carousel-control { opacity: 1; filter: alpha(opacity=100); }


/***** Project valuation *****/

.project-valuation-container {
    margin: 0 auto;
    padding: 45px 0 70px 0;
}

.project-valuation h2 {
	font-family: sans-serif;
	font-size: 60px;
	color: #464c5c;
	line-height: 64px;
	/*text-transform: uppercase;*/
}

.project-valuation p {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0 120px;
	font-family: sans-serif;
	font-size: 20px;
	color: #9ea0a6;
    line-height: 26px;
}

.project-valuation-form {
	margin-top: 60px;
	text-align: left;
}

.project-valuation-form form { overflow: hidden; }

.project-valuation-form form .project-valuation-form-left {
	float: left;
	width: 370px;
}

.project-valuation-form form .project-valuation-form-right {
	float: right;
	width: 670px;
}

.project-valuation-form form label { margin-top: 45px; }
.project-valuation-form form input[type="submit"] { margin: 45px 0 0 0; }

.project-valuation-form form .project-valuation-form-left label:first-child, 
.project-valuation-form form .project-valuation-form-right label:first-child { margin-top: 0; }


/***** Map *****/

.map-container {
	/*position: relative;*/
	/*min-height: 660px;*/
	/*margin: 0 auto;*/
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	/*widt/h: 100%;*/
	/*height: 660px;*/
}

.address-container {
	padding-top: 65px;
}

.address {
	width: 370px;
	height: 457px;
	padding-top: 1px;
	background: #fff;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 5px 0 rgba(8, 8, 8, 0.4);
	-webkit-box-shadow: 0 2px 5px 0 rgba(8, 8, 8, 0.4);
	box-shadow: 0 2px 5px 0 rgba(8, 8, 8, 0.4);
}

.address h3 {
	margin-top: 72px;
	font-family: sans-serif;
	font-size: 25px;
	color: #464c5c;
	line-height: 25px;
}

.address p {
	margin: 30px 0 0 0;
	font-family: sans-serif;
	font-size: 20px;
	color: #9ea0a6;
    line-height: 30px;
}

.address .address-box-social { margin-top: 35px; }


/***** Contact us *****/

.contact-us-container {
    margin: 0 auto;
    padding: 45px 0 70px 0;
    background: url("../img/tien1.jpeg")center center no-repeat ;
    background:url("../img/tho.png") opacity:0.5;


    /*opacity: 0.5;*/
    color: #fff;
    

}
p.above {
    background: #5b5b5b;
    height: 542px;
    position: absolute;
    top: -25px;
    bottom: 15px;
    left: -5px;
    text-align: center;;
    width: 1183px;
    opacity: 0.2;
}

.contact-us h2 {
	font-family: sans-serif;
	font-size: 60px;
	line-height: 64px;
	/*text-transform: uppercase;*/
	text-shadow: 0 2px 0 rgba(8, 8, 8, 0.2);
}

.contact-us p {
	margin-top: 15px;
	padding: 0 120px;
    font-family: sans-serif;
	font-size: 20px;
    line-height: 26px;
    text-shadow: 0 1px 0 rgba(8, 8, 8, 0.2);
}

.contact-us-form {
	margin-top: 60px;
	text-align: left;
	/*z-index: 9000;*/
}

.contact-us-form form { overflow: hidden; }

.contact-us-form form .contact-us-form-left {
	float: left;
	width: 440px;
}

.contact-us-form form .contact-us-form-right {
	float: right;
	width: 670px;
}

.contact-us-form form .contact-us-input-container { position: relative; margin-top: 30px; }
.contact-us-form form .contact-us-form-left .contact-us-input-container:first-child, 
.contact-us-form form .contact-us-form-right .contact-us-input-container:first-child { margin-top: 0; }

.contact-us-form form label {
	position: absolute;
	top: 19px;
	left: 20px;
	z-index: 130;
}


.contact-us-form form input[type="submit"] { margin: 30px 0 0 0; }


/***** Footer *****/

footer {
	margin: 0 auto;
    padding: 70px 0 55px 0;
    background:#131313;
    text-align: left;
    color: white;
}

footer .footer-left {
	float: left;
	width: 440px;
	padding-top: 14px;
	font-family: sans-serif;
	font-size: 18px;
	color: #818590;
    line-height: 24px;
}

footer .footer-right {
	float: right;
	width: 700px;
}
footer ul li{
	list-style-type: none;
}
<<<<<<< HEAD
/*topics*/
search{
	
}
.col-big{
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width:30%;
}

.hovereffect {
  width: 50%;
  height:50%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  padding: 5px 5px 5px 5px;
}

.hovereffect .overlay {
  width: 50%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect image {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin:0px;
}

.hovereffect p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: 7px;
}

.hovereffect:hover p.info {
  /*opacity: 1;*/
  /*filter: alpha(opacity=100);*/
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect p.info:hover {
  box-shadow: 0 0 5px #fff;
}
=======
footer a{
	color: #fff;
}
>>>>>>> 488ce93e4e6a431f56452dcf0a41c67869089d4b
/*.submit-wrapper {*/
    /*margin-top: 200px;*/
   


/*}
.submit-wrapper a {
    border:2px solid #65c8d0;
    color:#000;
    padding:15px;
    text-decoration:none;
    position:relative;
    letter-spacing:5px;
    transition:all 0.6s;
    z-index:1;
    margin:150px 10px -500px 10px;
}
.submit-wrapper a:before,
.submit-wrapper a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:24px;
    height:4px;
    background:#65c8d0;
    margin-left:-12px;
    margin-top:-2px;
    transition:all 0.6s;
}
.submit-wrapper a:after {
    left:auto;
    right:0;
    margin-right:-12px;
}
.submit-wrapper a:hover:before,
.submit-wrapper a:hover:after {
    width:100%;
    transition:all 0.6s;
    background:#fff;
    transform:scaleY(5);
    z-index:-1;
}
.submit-wrapper a:hover {
    text-decoration:none;
    background:#ffcf06;
    transition:all 0.6s;
    color:white ;
}
.hieuung:hover a{
	color:white;
}
*/
















