.jumbotron {
background: #9ad1e5;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
button{
    background:#f86942 !important;
}
#fh5co-header-section{
  background-color: #90d7ea !important;
}