@charset "utf-8";
/* CSS Document */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #000000;
	text-align: center;
}
map a{
  color: red !important;
}
a {
  color: #020202;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #000;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}	

.notice {
    padding: 15px;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-info {
    border-color: #45ABCD;
    background-color:  #e6ffff;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-success {
    border-color: #80D651;
     background-color: #c6ffb3;
}
.notice-success>strong {
    color: #80D651;
}
.notice-warning {
    border-color: #FEAF20;
     background-color:   #fff0e6;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
/*button*/
.btn3d,#play_game {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
	margin-bottom: 20px;

}

.btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}

/*mindmap*/
.mindmap{
	text-align: center;
}
.tooltip .tooltiptext {
   visibility: hidden; 
   position: absolute;
  }

.tooltip:hover .tooltiptext {
   visibility: visible;
}

/*từ đã chọn*/

body{margin-top:20px;}

ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

ul.notes li, ul.tag-list li {
  list-style: none;
}

ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

div.rotate-1 {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

div.rotate-2 {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

ul.notes li div {
  text-decoration: none;
  color: #000;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
  background-color: #70aebf;
}



/*play game*/
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*video gợi ý*/


/*menu vertical*/
body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
/*video gợi ý*/
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.h2,h3,h4,h5{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}
.box{
    border: solid 1px #FFF;
  outline: solid 1px #e0e0e0;
}

p,b{
  float: left;
  display: block;
  font-family: 'Lato', sans-serif;
}

.carousel{
  margin-top: 30px;
  position: relative;
  padding-bottom: 50px;
  background-color: #D8D8D8;
}

.item{
  min-height: 325px;
  padding-left: 30px;
  padding-right: 30px;
}

.item h2{
  width: 80%;
  color: #FFF;
  padding: 15px;
  font-size: 38px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 2px 3px #444;
}

.item .block{
  width: 100%;
  float: left;
  color: #FFF;
  min-height: 200px;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 3px #444;
}


.item h4{
  width: 100%;
  padding: 15px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 2px #555;
}


.item p{
  text-align: center;
  font-size: 18px;
}

.item .input-group{
  margin-bottom: 10px;
}

.block-1{
  background-color: #94C83C
}

.block-2{
  background-color: #F36E20
}

.block-3{
  background-color: #3498DB
}

.block-4{ 
  background-color: #F7C767
}

.carousel-indicators {
    bottom: 0px;
}
#fh5co-header-section{
  background-color: #90d7ea !important;
}