<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<?php
echo $this->Html->script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js');

echo $this->Html->script('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js');
echo $this->Html->script('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js');
echo $this->Html->script('lessons');
?>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Uniquebiz is a responsive creative business template">
<meta name="keywords" content="onepage, portfolio, corporate, business, parallax, creative, agency">
<meta name="author" content="trendytheme.net">

<title>English Fun</title>

<!--  favicon -->
<link rel="shortcut icon" href="favicon.png">
<!--  apple-touch-icon -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">


<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<?php

echo $this->Html->css('animate.css');
echo $this->Html->css('jquery-jvectormap.css');
echo $this->Html->css('font-awesome.min.css');
echo $this->Html->css('magnific-popup.css');
echo $this->Html->css('owl.carousel.css');
echo $this->Html->css('owl.theme.default.min.css');
echo $this->Html->css('bootstrap.min.css');
echo $this->Html->css('style.css');
echo $this->Html->css('topics.css');
echo $this->Html->css('newtopic.css');

?>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
          <?php     
         // echo $this->Html->script('modernizr-2.6.2.min.js');
         // echo $this->Html->script('jquery.easing.1.3.js' );
         // echo $this->Html->script('bootstrap.js');
         //echo $this->Html->script('owl.carousel.min.js');
          //echo $this->Html->script('jquery.magnific-popup.min.js');
          //echo $this->Html->script('hoverIntent.js');
         // echo $this->Html->script('superfish.js');
         // echo $this->Html->script('read-along.js');
         // echo $this->Html->script('clickwordlist.js');
         //echo $this->Html->script('goiybaihoc.js');
          //echo $this->Html->script('mainhieuungchu.js');
          //echo $this->Html->script('hieuungchu.js');

          ?>

            <?php     
         echo $this->Html->script('modernizr-2.6.2.min.js');
         echo $this->Html->script('jquery-2.2.2.min.js');
         echo $this->Html->script('bootstrap.min.js');
         echo $this->Html->script('jquery.easing.min.js');
         echo $this->Html->script('smoothscroll.min.js');
         echo $this->Html->script('jquery.sticky.js');
         echo $this->Html->script('jquery.inview.min.js');
         echo $this->Html->script('jquery.countTo.min.js');
         echo $this->Html->script('jquery.shuffle.min.js');
         echo $this->Html->script('jquery.magnific-popup.min.js');
         echo $this->Html->script('jquery.BlackAndWhite.min.js');
         echo $this->Html->script('owl.carousel.min.js');
         echo $this->Html->script('ajaxchimp.js');
         echo $this->Html->script('jquery-jvectormap-2.0.3.min.js');
         echo $this->Html->script('jquery-jvectormap-world-mill-en.js');
         echo $this->Html->script('scripts.js');
         echo $this->Html->script('topics.js');
         echo $this->Html->script('newtopic.js');
         echo $this->Html->script('anphude.js');
       ?>