<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Slant &mdash; A free HTML5 Template by FREEHTML5.CO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
<meta name="author" content="FREEHTML5.CO" />
<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<!-- Themify Icons -->
<link rel="stylesheet" href="css/themify-icons.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css">
<!-- Superfish -->
<link rel="stylesheet" href="css/superfish.css">
<!-- Easy Responsive Tabs -->
<link rel="stylesheet" href="css/easy-responsive-tabs.css">
<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Theme Style -->
<link rel="stylesheet" href="css/style.css">

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>

<!-- jQuery -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Superfish -->
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.js"></script>
<!-- Easy Responsive Tabs -->
<script src="js/easyResponsiveTabs.js"></script>
<!-- FastClick for Mobile/Tablets -->
<script src="js/fastclick.js"></script>
<!-- Parallax -->
<!-- <script src="js/jquery.parallax-scroll.min.js"></script> -->
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>




<link rel="stylesheet" type="text/css" href="css/style.css">

<footer role="contentinfo" id="fh5co-footer">
			<a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">GIỚI THIỆU</h3>
						<p>Bạn có thể tìm hiểu thêm về chúng tôi cũng như các công việc tại English Unlimited.</p>
						<p><a href="#" class="btn btn-outline btn-sm">Xem thêm</a></p>

					</div>
					<div class="col-md-3 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">Riêng tư &amp; ĐIỀU KHOẢN</h3>
						<ul class="fh5co-footer-links">
							<li><a href="#">Qui định &amp; chính sách</a></li>
							<li><a href="#">Hỗ trợ</a></li>
							<li><a href="#">Đăng nhập</a></li>
							<li><a href="#">Đăng ký</a></li>
							</ul>
							
					</div>
					<div class="col-md-3 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">DANH MỤC</h3>
						<ul class="fh5co-footer-links">
							<li><a href="#">Thư viện chủ đề</a></li>
							<li><a href="#">Thư viện bài học</a></li>
							<li><a href="#">Trò chơi</a></li>
							<li><a href="#">Kiểm tra</a></li>
							</ul>

					</div>
					
					<div class="col-md-3 col-sm-6 footer-box">
						<h3 class="fh5co-footer-heading">KẾT NỐI VỚI CHÚNG TÔI</h3>
						<ul class="fh5co-social-icons">
							
							<li><a href="#"><i class="ti-google"></i></a></li>
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#"><i class="ti-facebook"></i></a></li>	
							<li><a href="#"><i class="ti-instagram"></i></a></li>
							<li><a href="#"><i class="ti-dribbble"></i></a></li>
						</ul>
						<ul class="fh5co-footer-links">
							<li>Địa chỉ: 123/4 Quán Xí Muội, Cầu Rạch Ngỗng</li>
							<li>Email: LTDT@englishulimited.com</li>
							<li>SĐT: 0123456789</li>
							</ul>
					</div>
					<div class="col-md-12 footer-box">
						<div class="fh5co-copyright">
						<p>&copy; 2017 English Unlimited</p>
						</div>
					</div>
			
				</div>
				<!-- END row -->
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
		</footer>