
		<div id="fh5co-main">
	
			<div class="container">
				<div class="row">
					
					<div class="col-md-8 col-md-push-4" id="fh5co-content">
						<div class="content-box animate-box">
							<h2>Chủ đề: Gia đình</h2>

							<img src="img/cd_gia_dinh.jpg">
							<audio controls>
	  <source src="../img/audio.m4a" type="audio/ogg">
	  <source src="horse.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
	</audio>

				<pre>
A: to see please thank you
B: i made a few cookies yesterday wanna bite
A: I sure wow that's delicious
B: so fast
A: i'm glad you like it to cook my other 
B: well i do actually but mosstly choose Vietnamese food
A: so tell me more about it I miss but what is coming
B: well we lot of rice and vegetables but noodles are very common to eat
A: what your favorite friend 
B: I have to say- beef noodle soup and now i'm good at making it- how about you  you cook ofen
A: no no no i don't i usually just eat out- same time
sometimes i do that to come by often well i do wish me but mostly choose vietnamese food
B: so tell me more about it no means but what is common 
well we love rice and vegetables but noodles are very common-and what do you what's your favorite thing 
A: I have to say it's a beef noodle soup and now i'm good at making it you
				</pre>


							<!--bài dịch-->      
				<!-- 	<div class="bai_dich">
						<button type="button" class="btn btn-info btn-lg btn3d"  data-toggle="collapse" data-target="#demo" style="background-color: #f86942">
							<span class="glyphicon glyphicon-question-sign"></span>
							xem bài dịch
						</button> 
							<!-- <p class="to-animate hero-animate-3"><a href="#" class="btn btn-outline btn-lg btn-dich">Vào thư viện</a></p> -->

					<!-- 	<div id="demo" class="collapse">
							Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....Lorem ipsum dolor text....
						</div>		
					</div> -->
 				<!--.bài dịch-->

						</div>

							<div class="notice notice-success">
				<strong>Sơ đồ tư duy sau sẽ giúp bạn dễ học hơn</strong><br>
			</div>		
			<!--mindmap-->
			<div class="row">
				
				<div class="col-md-8">
					<img src="img/mindmap1.png" alt="Planets" usemap="#planetmap"  style="">

					<map name="planetmap" >

						<div style="position: absolute; top: 180px; left: 50px;" data-toggle="popover" title="User Info">
							<a data-placement="top" data-content="Content">
								<area shape="poly" coords="38,148,56,145,66,155,82,157,96,166,117,173,121,188,121,194,121,203,121,216,121,222,104,230,91,239,79,243,69,238,63,234,49,237,33,231,23,228,16,225,14,214,7,209,-1,195,15,172,15,169">sister</a>
							</div>


							<div  style="position: absolute; top: 80px; left: 110px;" data-toggle="popover" title="User Info"> 
								<a data-placement="top" data-content="Content" >
									<area shape="poly" coords="98,53,110,39,129,44,135,46,148,48,159,53,166,58,182,63,185,73,190,85,183,91,190,102,189,109,181,120,174,123,167,123,152,135,137,132,130,126,119,133,106,127,99,122,85,120,79,113,77,104,69,94,74,79,79,61">father</a>
								</div>

								<div style="position: absolute; top: 40px; left:270px;" data-toggle="popover" title="User Info">
									<a  data-placement="top" data-content="Content">
										<area shape="poly" coords="294,80,281,87,263,78,246,68,235,52,242,37,256,16,273,6,284,4,294,9,310,11,323,18,340,22,348,31,354,41,353,63,344,77,316,90,304,86">Daughter</a>
									</div>

									<div style="position: absolute; top: 115px; left:420px;" data-toggle="popover" title="User Info">
										<a  data-placement="top" data-content="Content">
											<area shape="poly" coords="438,158,412,155,396,151,386,130,377,118,388,107,396,94,413,86,430,76,443,84,458,90,474,94,488,101,496,111,496,117,494,129,499,135,497,144,488,149,462,162">brother</a>
										</div>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover',
        html : true,
        content : '<div class="media"><a href="#" class="pull-left"><img src="img/cd_gia_dinh-brother.jpg" class="media-object" alt="Sample Image"></a><div class="media-body"><h4 class="media-heading">Jhon Carter</h4><p>Excellent Bootstrap popover! I really love it.</p></div></div>'
    });
});
</script>
 <!-- <div class="bs-example">
        <button type="button" class="btn btn-primary" data-toggle="popover">Popover without Title</button>
        <button type="button" class="btn btn-primary" data-toggle="popover" title="User Info">Popover with Title</button>
    </div> -->


										<div style="position: absolute; top: 250px; left:400px;" data-toggle="popover" title="User Info">
											<a  data-placement="top" data-content="Content">
												<area shape="poly" coords="380,238,397,226,416,234,435,236,447,241,465,249,468,259,468,274,458,291,438,295,425,297,409,290,399,296,382,291,370,283,361,274,357,266,367,245"> mother</a>
											</div>


											<div style="position: absolute; top: 300px; left:180px;" data-toggle="popover" title="User Info">
												<a data-placement="top" data-content="Content">
													<area shape="poly" coords="160,263,177,255,203,262,222,263,238,273,256,284,261,293,261,303,263,319,260,324,251,331,238,335,227,343,218,347,195,336,174,341,164,334,147,328,140,316,134,309,132,296,144,277">son</a>
												</div>

											</map>

										</div>  

									
									
									<div class="col-md-4">
<!-- từ đã chọn -->
<div class="container bootstrap snippet">
    <div class="row">
    	<ul class="notes">
         
            <li>
                <div class="rotate-2 red-bg">
                    <small>12:03:28 12-04-2014</small>
                    <h4>Từ đã chọn</h4>
                    <p>The years,</p>
                     <p>The years,</p> 
                     <p>The years,</p> 
                     <p>The years,</p>
                    <a href="#" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
                </div>
            </li>    
          
		</ul>  
	</div>
</div>
<!-- . từ đã chọn -->
									</div>
									</div>
<br><br>


									<!--play game-->
									<div align="center">
									<button class="button"><span>Play game </span></button>
									</div>
									<!--.play game--> 
						<div class="content-box animate-box">
							<h2>About This Template</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor quas inventore hic delectus, temporibus vel voluptate nemo, repellat eaque nostrum ducimus numquam repudiandae nam. Quibusdam quaerat aspernatur commodi accusantium obcaecati pariatur vel eos quas vero quae rerum nemo nihil non laborum labore magni numquam adipisci voluptatum, voluptates soluta. Vel!</p>
							<p><img src="img/hero6.jpg" alt="Free HTML5 Template" class="img-responsive"></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur optio iusto officiis culpa expedita rem nisi repudiandae quas, eveniet, neque nihil pariatur! Doloribus, sunt? Maiores ipsum temporibus consectetur voluptas, placeat perspiciatis officia, distinctio repellat earum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolor quas inventore hic delectus, temporibus vel voluptate nemo, repellat eaque nostrum ducimus numquam repudiandae nam. Quibusdam quaerat aspernatur commodi accusantium obcaecati pariatur vel eos quas vero quae rerum nemo nihil non laborum labore magni numquam adipisci voluptatum, voluptates soluta. Vel!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur optio iusto officiis culpa expedita rem nisi repudiandae quas, eveniet, neque nihil pariatur! Doloribus, sunt? Maiores ipsum temporibus consectetur voluptas, placeat perspiciatis officia, distinctio repellat earum.</p>

						</div>
					</div>

					<div class="col-md-4 col-md-pull-8" id="fh5co-sidebar">
				
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Gia Đình</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com">Bài 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <a href="http://www.jquery2dotnet.com">Bài 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com">Bài 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com">Bài 4</a>
                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Sức Khỏe</a>
                       </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 1</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Thể Thao</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Bài 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Thời Tiết</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 1</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Bài 2</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com">Bài 3</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="http://www.jquery2dotnet.com">Bài 4</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
					</div>

				</div>
			</div>

		
		</div>

		<!-- video gợi ý -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700|Exo+2:700,400' rel='stylesheet' type='text/css'>
<div class="container">
	<div class="row">
		<section class="col-xs-12">
            <div id="carousel-example-generic" class="carousel slide box" data-ride="carousel">
        		<ol class="carousel-indicators">
        			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        			<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
        		</ol>
        		<div class="carousel-inner">
        			<div class="item active">
        				<div class="row">
        					<h2 class="center-block">Các Bài Học Gợi Ý</h2>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-1">
        							<h4>Trường Học</h4>
        						 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-2">
        							<h4>Bệnh Viện</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-3">
        							<h4>Trái Cây</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-4">
        							<h4>Thức Ăn</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="row">
        					<h2 class="center-block">Các Bài Học Gợi Ý</h2>
        					<div class="col-xs-12 col-sm-6">
        						<div class="block block-1">
        							<h4>Môi Trường</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6">
        						<div class="block block-2">
        							<h4>Mỹ Phẩm</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="row">
        					<h2 class="center-block">Các Bài Học Gợi Ý</h2>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-1">
        							<h4>Điện Thoại</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-2">
        							<h4>Số Đếm</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-3">
        							<h4>Bảng Chữ Cái</h4>
        							 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-3">
        						<div class="block block-4">
        							<h4>Nghề Nghiệp</h4>
        						 <button class="button"><span>Vào học </span></button>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
	</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Welcome</h4>
			</div>
			<div class="modal-body">
				About Me-<br>
				<a href="http://webdevron.com">@ My website</a><br>
				<a href="http://fb.com/webdevron">@ facebook</a><br>
				<a href="http://fb.com/webdevrony">@ twitter</a><br>
				<a href="https://www.linkedin.com/in/webdevron">@ linkedin</a><br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
		<!-- .video gợi ý -->

		<div class="fh5co-spacer fh5co-spacer-md"></div>
		<div class="fh5co-spacer fh5co-spacer-md"></div>
		<!-- END fhtco-main -->