<!-- START #fh5co-header -->
<?php
	use App\View\AppView;
	use App\Controller\AppController;
?>
<header id="fh5co-header-section" role="header" class="" >
	<div class="container">



		<!-- <div id="fh5co-menu-logo"> -->
		<!-- START #fh5co-logo -->
		<h1 id="fh5co-logo" class="pull-left"><a href="index.php" style=" text-transform:capitalize;;"><img src="img/logo2.png" alt="Slant Free HTML5 Template"> english unlimited</a></h1>

		<!-- START #fh5co-menu-wrap -->
		<nav id="fh5co-menu-wrap" role="navigation">


			<ul class="sf-menu" id="fh5co-primary-menu">

				<!-- <li><a href="Homes">Trang Chủ</a></li> -->
				 <!-- <li><?php //$this->Html->link('Trang Chủ',['controller'=>'Homes','action'=>'index'])?></li>
				 <li><?php //$this->Html->link('Chủ đề',['controller'=>'Topics','action'=>'index'])?></li>				
				 <li><?php //$this->Html->link('Giới thiệu',['controller'=>'Abouts','action'=>'index'])?></li>
				 <li><?php //$this->Html->link('Liên hệ',['controller'=>'Contacts','action'=>'index'])?></li>
				 <li class="fh5co-special"><a href="<?php //echo $this->Url->build(["controller" => "Signs", "action" => "login"]); ?>">Đăng nhập</a></li> -->
				
				<li><a href="Homes">Trang Chủ</a></li>
				<li><a href="Topics" >Chủ đề</a></li>				
				<li><a href="#aboutt">Giới thiệu</a></li>
				<li><a href="#contact">Liên hệ</a></li>
				<li class="fh5co-special"><a href="<?php echo $this->url->build(['controller'=>'Users','action'=>'login']) ?>">Đăng nhập</a></li>
				<!-- <li class="fh5co-special" style="margin-left: 15px"><a href="contact.html">Đăng nhập</a></li> -->
			</ul>
		</nav>
		<!-- </div> -->

	</div>
</header>


		<div id="fh5co-hero">
			<a href="#fh5co-main" class="smoothscroll fh5co-arrow to-animate hero-animate-4"><i class="fa fa-angle-down"></i></a>
			<!-- End fh5co-arrow -->
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
							<h1 class="to-animate hero-animate-1">Chào mừng bạn đến với </h1>
							<h1 class="to-animate hero-animate-1" style="background-color: #173e43;margin-top: 40px;padding: 10px">English Unlimited</h1>
							<h2 class="to-animate hero-animate-2">Cùng nhau học tiếng anh bạn nhé</h2>
							<p class="to-animate hero-animate-3"><a href="<?php echo $this->url->build(['controller'=>'Users','action'=>'register']) ?>" class="btn btn-outline btn-lg">ĐĂNG KÝ</a></p>
						</div>
					</div>
				</div>
			</div>		
		</div>