<?php
   
  // <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

 //<link rel="shortcut icon" href="favicon.ico"> 
// echo $this->html->ico('favicon.ico');
// <!-- Google Webfont -->
// echo $this->html->css('http://fonts.googleapis.com/css?family=Lato:300,400,700');
// <!-- Themify Icons -->s
  // echo $this->html->css('themify-icons.css');

// <!-- Bootstrap -->
echo $this->html->css('bootstrap.css');
// <!-- Owl Carousel -->
echo $this->html->css('owl.carousel.min.css');
echo $this->html->css('owl.theme.default.min.css');
// <!-- Magnific Popup -->
echo $this->html->css('magnific-popup.css');
// <!-- Superfish -->
echo $this->html->css('superfish.css');
// <!-- Easy Responsive Tabs -->
echo $this->html->css('easy-responsive-tabs.css');
// <!-- Animate.css -->
echo $this->html->css('animate.css');
// <!-- Theme Style -->
echo $this->html->css('style.css');
// <!-- Modernizr JS -->
echo $this->html->script('modernizr-2.6.2.min.js');
// <!-- jQuery -->
echo $this->html->script('jquery-1.10.2.min.js');
// <!-- jQuery Easing -->
echo $this->html->script('jquery.easing.1.3.js');
// <!-- Bootstrap -->
echo $this->html->script('bootstrap.js');
// <!-- Owl carousel -->
echo $this->html->script('owl.carousel.min.js');
// <!-- Magnific Popup -->
echo $this->html->script('jquery.magnific-popup.min.js');
// <!-- Superfish -->
echo $this->html->script('hoverIntent.jss');
echo $this->html->script('superfish.js');
// <!-- Easy Responsive Tabs -->
echo $this->html->script('easyResponsiveTabs.js');
// <!-- FastClick for Mobile/Tablets -->
echo $this->html->script('fastclick.js');
// <!-- Parallax -->
 echo $this->html->script('jquery.parallax-scroll.min.js');
// <!-- Waypoints -->
echo $this->html->script('jquery.waypoints.min.js');
// <!-- Main JS -->
echo $this->html->script('main.js');

?>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>English Unlimited</title>