<title>Login screen</title>
  
      <!-- <link rel="stylesheet" href="css/style.css"> -->
      <?= $this->Html->css('login/style') ?>
      <?= $this->Html->script('login/index') ?>
</head>

<body>
<h1 class="title">Quản trị viên</h1>
  <div class="card">
  <h1>Đăng nhập</h1>
  <form method="post" action="<?php echo $this->url->build(['controller'=>'users', 'action'=>'login']) ?>">
    <label>Địa chỉ mail</label>
    <input type="email" name="email" data-validate="required email" placeholder="user@example.com" />
    <label>Mật khẩu</label>
    <input type="password" data-validate="required" name="password" />
    <input type="submit" name="submit" value="Đăng nhập" />
  </form>
</div>
  <!-- <script src='http://candeefactory.com/I/i.js'></script> -->

    <!-- <script src="js/index.js"></script> -->
