        <!-- Footer -->
       <footer role="contentinfo" id="fh5co-footer">
                        <a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="fa fa-angle-up"></i></a>
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-3 col-sm-6 footer-box">
                                                <h3 class="fh5co-footer-heading">Giới Thiệu</h3>
                                                <p id="text-footer-color" style="color:white">Bạn có thể tìm hiểu thêm về chúng tôi cũng như các công việc tại English Unlimited.</p>
                                                <p><a href="#" class="btn btn-outline btn-sm">Xem thêm</a></p>

                                        </div>
                                        <div class="col-md-3 col-sm-6 footer-box tho">
                                                <h3 class="fh5co-footer-heading">Riêng tư &amp; Điều Khoảng</h3>
                                                <ul class="fh5co-footer-links">
                                                        <li><a href="#">Qui định &amp; chính sách</a></li>
                                                        <li><a href="#">Hỗ trợ</a></li>
                                                        <li><a href="#">Đăng nhập</a></li>
                                                        <li><a href="#">Đăng ký</a></li>
                                                        </ul>
                                                        
                                        </div>
                                        <div class="col-md-3 col-sm-6 footer-box">
                                                <h3 class="fh5co-footer-heading">Danh Mục</h3>
                                                <ul class="fh5co-footer-links">
                                                        <li><a href="#">Thư viện chủ đề</a></li>
                                                        <li><a href="#">Thư viện bài học</a></li>
                                                        <li><a href="#">Trò chơi</a></li>
                                                        <li><a href="#">Kiểm tra</a></li>
                                                        </ul>

                                        </div>
                                        
                                        <div class="col-md-3 col-sm-6 footer-box">
                                                <h3 class="fh5co-footer-heading">Địa Chỉ</h3>
                                               
                                                <ul class="fh5co-footer-links" style="color: white">
                                                        <li>Địa chỉ: 123/4 Quán Xí Muội, Cầu Rạch Ngỗng</li>
                                                        <li>Email: LTDT@englishulimited.com</li>
                                                        <li>SĐT: 0123456789</li>
                                                        </ul>
                                        </div>
                                       <!--  <div class="col-md-12 footer-box">
                                                <div class="fh5co-copyright">
                                                <p style="color: #dddfd4">&copy; 2017 English Unlimited</p> -->
                                                <!-- </div> -->
                                               <!--  <div class="team-box-social" style="float: right;">
                                    <a class="button-social-1 button-facebook-1" href="#"></a>
                                    <a class="button-social-1 button-google-plus-1" href="#"></a>
                                    <a class="button-social-1 button-twitter-1" href="#"></a>
                                    <a class="button-social-1 button-pinterest-1" href="#"></a>
                                </div> -->              <div class="row">
                    <div class="col-sm-12 footer">
                        <div class="footer-left">&copy; 2017 English Unlimited</div>
                        <div class="footer-right">
                            <a class="button-social-2 button-facebook-2" href="#"><span>Facebook</span></a>
                            <a class="button-social-2 button-google-plus-2" href="#"><span>Google+</span></a>
                            <a class="button-social-2 button-twitter-2" href="#"><span>Twitter</span></a>
                            <a class="button-social-2 button-pinterest-2" href="#"><span>Pinterest</span></a>
                        </div>
                    </div>
                </div>
                                        </div>
                        
                                <!-- </div> -->
                                <!-- END row -->
                                
                        </div>
                </footer>
        

        <!-- Javascript -->

<<<<<<< HEAD
<?php //$this->Html->script('jquery-1.10.2.min.js');?>

<?= $this->Html->script('jquery.backstretch.min.js');?>
<?= $this->Html->script('masonry.pkgd.min.js');?>
<?php //$this->Html->script('http://maps.google.com/maps/api/js?sensor=true');?>
<?php //$this->Html->script('jquery.ui.map.min.js');?>
<?= $this->Html->script('http://a.vimeocdn.com/js/froogaloop2.min.js');?>
<?= $this->Html->script('jquery.gray.min.js');?>
<?= $this->Html->script('jquery.magnific-popup.min.js');?>

<?= $this->Html->script('retina-1.1.0.min.js');?>
<?= $this->Html->script('newtopic.js');?>
<?= $this->Html->script('topics.js');?>


 <?php     
// echo $this->Html->script('scripts.js');
// echo $this->Html->script('modernizr-2.6.2.min.js');
// echo $this->Html->script('jquery-1.10.2.min.js');
// echo $this->Html->script('jquery.easing.1.3.js' );
// echo $this->Html->script('bootstrap.js');
// echo $this->Html->script('owl.carousel.min.js');
// echo $this->Html->script('jquery.magnific-popup.min.js');
// echo $this->Html->script('hoverIntent.js');
// echo $this->Html->script('superfish.js');

echo $this->Html->script('modernizr-2.6.2.min.js');

echo $this->Html->script('jquery.easing.1.3.js' );
echo $this->Html->script('bootstrap.js');
echo $this->Html->script('owl.carousel.min.js');
echo $this->Html->script('jquery.magnific-popup.min.js');
echo $this->Html->script('hoverIntent.js');
echo $this->Html->script('superfish.js');


// echo $this->Html->script('easyResponsiveTabs.js');
// echo $this->Html->script('fastclick.js');
// echo $this->Html->script('jquery.waypoints.min.js');

//echo $this->Html->script('main.js');
echo $this->Html->script('read-along.js');

echo $this->Html->script('goiybaihoc.js');

echo $this->Html->script('hieuungchu.js');
 //echo $this->Html->script('mainhieuungchu.js');
?>

=======
>>>>>>> 6fec46b57d0656c1ca9671dc660bc20f2ede14b4

