		<!-- Top menu -->
		<!-- <nav> -->
			<div class="container">
				<div class="row">
					<div class="col-sm-2 nav-logo">
						<a href="">Creativity - Responsive Template</a>
					</div>
					<div class="col-sm-10 nav-links">
					<a class="scroll-link button-1 active" href="#top-content">Trang Chủ</a>
						<a class="scroll-link button-1" href="#portfolio">Tại Sao?</a>
                        <a class="scroll-link button-1" href="#blog">Blog</a>
                           <!--  <a class="scroll-link button-1" href="#reviews">Reviews</a> -->
						<a class="scroll-link button-1" href="#team">Quản trị viên</a>		
						<a class="scroll-link button-1" href="#contact-us">Liên Hệ</a>
                            <a class="scroll-link button-1" href="#">Đăng Nhập</a>
						<div class="show-menu"><span></span></div>
					</div>
				</div>
			</div>
		<!-- </nav> -->
		
  