

<?php //$this->Html->css(array('themify-icons.css','bootstrap.css','owl.carousel.min.css','owl.theme.default.min.css','magnific-popup.css','superfish.css','easy-responsive-tabs.css','animate.css','style.css','chu_de.css','https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css','http://fonts.googleapis.com/css?family=Lato:300,400,700','lien_he.css', 'goiy.css'));
?>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- <link rel="shortcut icon" href="favicon.ico"> -->


<?php //$this->Html->script(array('modernizr-2.6.2.min.js','jquery-1.10.2.min.js','jquery.easing.1.3.js','bootstrap.js','owl.carousel.min.js','jquery.magnific-popup.min.js','hoverIntent.js','superfish.js','superfish.js','easyResponsiveTabs.js','fastclick.js','jquery.waypoints.min.js','jquery.waypoints.min.js','main.js','read-along.js','clickwordlist.js','goiybaihoc.js','main.js','hieuungchu.js','mainhieuungchu.js'));
?>
  


  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Creativity - Responsive Template</title>

        <!-- CSS -->

       <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<?php

echo $this->Html->script('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js');
echo $this->Html->script('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js');
echo $this->Html->script('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js');

echo $this->Html->script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js');
echo $this->Html->script('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js');
echo $this->Html->css('gray');
echo $this->Html->css('magnific-popup');
echo $this->Html->css('form-elements');
echo $this->Html->css('buttons');
echo $this->Html->css('style');
echo $this->Html->css('media-queries');
echo $this->Html->css('lessons');
echo $this->Html->css('topics');
echo $this->Html->css('newtopic');
// echo $this->Html->css('fonts.css');
 // echo $this->Html->script('scripts.js');
echo $this->Html->script('lessons');
echo $this->Html->script('clickwordlist');

?>

<?php //$this->Html->script('jquery-1.10.2.min.js');?>

<?= $this->Html->script('jquery.backstretch.min.js');?>
<?= $this->Html->script('masonry.pkgd.min.js');?>
<?php //$this->Html->script('http://maps.google.com/maps/api/js?sensor=true');?>
<?php //$this->Html->script('jquery.ui.map.min.js');?>
<?= $this->Html->script('http://a.vimeocdn.com/js/froogaloop2.min.js');?>
<?= $this->Html->script('jquery.gray.min.js');?>
<?= $this->Html->script('jquery.magnific-popup.min.js');?>
<?=$this->Html->script('scripts.js');?>
<?= $this->Html->script('retina-1.1.0.min.js');?>


 <?php     

// echo $this->Html->script('modernizr-2.6.2.min.js');
// echo $this->Html->script('jquery-1.10.2.min.js');
// echo $this->Html->script('jquery.easing.1.3.js' );
// echo $this->Html->script('bootstrap.js');
// echo $this->Html->script('owl.carousel.min.js');
// echo $this->Html->script('jquery.magnific-popup.min.js');
// echo $this->Html->script('hoverIntent.js');
// echo $this->Html->script('superfish.js');

echo $this->Html->script('modernizr-2.6.2.min.js');

echo $this->Html->script('jquery.easing.1.3.js' );
echo $this->Html->script('bootstrap.js');
echo $this->Html->script('owl.carousel.min.js');
echo $this->Html->script('jquery.magnific-popup.min.js');
echo $this->Html->script('hoverIntent.js');
echo $this->Html->script('superfish.js');


// echo $this->Html->script('easyResponsiveTabs.js');
// echo $this->Html->script('fastclick.js');
// echo $this->Html->script('jquery.waypoints.min.js');

//echo $this->Html->script('main.js');
echo $this->Html->script('read-along.js');
echo $this->Html->script('clickwordlist.js');
echo $this->Html->script('goiybaihoc.js');
 echo $this->Html->script('mainhieuungchu.js');
echo $this->Html->script('hieuungchu.js');

?>


    
        <!-- Favicon and touch icons -->
    <!-- <link rel="shortcut icon" href="favicon.png"> -->
    <link rel="apple-touch-icon-precomposd" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">


