<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Trang Chủ</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<!-- <div class="collapse navbar-collapse navbar-ex1-collapse"> -->
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Chủ Đề</a></li>
				<li><a href="#">Tại Sao?</a></li>
				<li><a href="#">Quản Trị</a></li>
				<li><a href="#">Liên Hệ</a></li>


			</ul>
			<!-- <h2 style="color: orange ">English unlimited</h2> -->
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group" style="padding: 1px 10px 10px 300px">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default" style="margin: 5px 30px 15px -5px">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Đăng Nhập</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		<!-- </div> -->
		<!-- /.navbar-collapse -->
	</div>
<!-- </nav> -->
<!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> -->

 <div class="top-content-container">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-sm-12 top-content-text">
                        	<h1>
                        		Bạn muốn giỏi tiếng anh<br>
                        		<span class="top-content-text-big">Hãy học cùng chúng tôi</span>
                        	</h1>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12 top-content-computer">
                        	<div class="top-content-computer-container">
                        		<?= $this->Html->image('macbook@2x.png',['class'=>'img-responsive'])?>
                        		<div class="top-content-video">
                        			<?= $this->Html->image('play.png')?>
                        			<p>Play case study</p>
                        			<iframe src="//player.vimeo.com/video/84910153?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        		</div>
                        	</div>
                        </div>
                    </div>
                   <!--  <div class="row">
                    	<div class="col-sm-12 top-content-select">
                        	<select class="custom-select">
                        		<option class="custom-select-web-design" value="web-design">Web design</option>
                       			<option class="custom-select-image-design" value="image-design">Image design</option>
                       			<option class="custom-select-branding" value="branding">Branding</option>
                       			<option class="custom-select-dtp" value="dtp">DTP</option>
                       			<option class="custom-select-tv-campanies" value="tv-campanies">TV campanies</option>
                       		</select>
                       		<a class="button-2" href="#">See the works</a>
                    	</div>
                    </div> -->
                </div>
            </div>
        </div>

