/*CSS phần đăng nhập*/
.dangnhap1{
	height: 450px !important;
	margin-top: -40px;
	margin-bottom: 20px;
}

.dangnhap2{
	float: right;
	margin-top: -15px;
	margin-right: -15px;
}

.dangnhap_form{
	text-align: center;
}

.dangnhap_form_h2{
	color: #33b5e5;
	text-align: center;
}

.dangnhap_form_tenDN{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
	margin-top: 30px;
}

.dangnhap_form_matkhau{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}

.dangnhap_form_br_a{
	float: right;
	margin-right: 80px;
}

.dangnhap_form_submit{
	height: 50px !important;
	margin-top: 20px;
	border-radius: 100px !important;
	background: red;
}

.dangnhap_form_{
	float: right;
	margin-right: 80px;
}
/*End CSS phần đăng nhập*/

/*CSS phần quên mật khẩu*/
.QMK1{
	height: 450px !important;
	margin-top: -40px;
	margin-bottom: 20px;
}

.QMK_btn{
	float: right;
	margin-top: -15px;
	margin-right: -15px;
}

.QMK_form{
	text-align: center;
}

.QMK_form_h2{
	color: #33b5e5;
	text-align: center;
}
.QMK_form_p{
	color: red; 
	margin-top: 30px;
}

.QMK_form_email{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.QMK_form_submit{
	height: 50px !important;
	margin-top: 20px;
	border-radius: 100px !important;
	background: red;
}
.QMK_form_p1{
	float: right;
	margin-right: 80px;
}

/*End CSS phần quên mật khẩu*/

/*CSS phần đăng ký*/

.dangky1{
	height: 600px !important;
	margin-top: -40px;
	margin-bottom: 20px;
	text-align: center;
}
.dangky2{
	max-height: 590px !important;
}
.dangky_form{
	color: #33b5e5;
	text-align: center;
}
.dangky_form_fieldset{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 20px;
}
.dangky_form_fieldset_hoten{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_ngaysinh{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_gioitinh{
	height: 50px !important;
	width: 365px;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_diachi{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_email{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_matkhau{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_fieldset_sdt{
	height: 50px !important;
	margin-bottom: 20px;
	border-radius: 100px !important;
}
.dangky_form_div1{
	display: inline-block;
	width: 365px;
}

.dangky_form_captcha{
	height: 50px !important;
	margin-bottom: 20px;
	float: left !important;
	border-radius: 100px !important;
}
.dangky_form_label{
	float: right !important;
	margin-right: 50px;
	height: 50px;
	line-height: 50px;
}
.dangky_form_div2{
	display: inline-block;
	width: 365px;
}

.dangky_form_submit{
	height: 50px !important; 
	margin-bottom: 20px; 
	border-radius: 100px !important; 
	background: red; 
	float: left; 
	width: 150px; 
}
.dangky_form_close{
	height: 50px !important;
	width: 150px; 
	margin-bottom: 20px; 
	border-radius: 100px !important; 
	float: right;
}










/*End CSS phần đăng ký*/


















