<?php
/**
  * @var \App\View\AppView $this
  */
?>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <!-- <div class="row"> -->
<!-- <div class="users index col-sm-12 col-lg-12 columns content"> -->
<br><br><br>
    
        <?= $this->Form->create($topic) ?>
    <fieldset>
        <legend><?= __('Thêm Chủ Đề') ?></legend>
        <?php
            echo $this->Form->control('topic_name');
            echo $this->Form->control('level_name');
            echo $this->Form->control('describe_short');
            echo $this->Form->control('image');
            echo $this->Form->control('create_time');
        ?>
            <!-- <input type="date" name=""> -->
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
    </form>
    
</div>
