.aside {
    width: 200px;
    float: left;
    margin-top: 50px;
    min-height: 500px;
    max-height: 1500px;
}
#footer {
    background-color: black;
    clear: both;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
#page-wrapper {
    width: 50%;
    float: left;
    margin-top: 50px;
}
.top-nav {
    margin-top: 10px;
}