/*body { padding-top: 50px; }*/

#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
	margin: 0px;
	padding: 0px;

}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
	padding: 0px;
	margin: 0px;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}


@media (min-width: 700px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 700px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

.list-group2 li a:hover{
	display: block;
	color: white;
	background-color: #383d4a;
}
.list-group2 li a{
	text-decoration:none;
	color: #383d4a;
}
.list-group2 li{
	text-align: left;
}
.list-group2 {
	padding-left: 0px;
}
.label-topic{
	text-align: left;

}