<!-- tìm kiếm -->
<form>
  <input type="text" name="search" placeholder="Bạn muốn tìm gì?">
</form> 
<!-- .tìm kiếm -->

		<div id="fh5co-main">
	
			<div class="container">

				<div class="row" id="fh5co-features">
					


				        <!-- Page Content -->
        <div id="page-content-wrapper">
                   <div class="container">
               <div class="row">
		<div class="col-sm-3">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
				</div>
				<div class="caption">
					<h2>Gia Đình</h2>
					<p>My project description</p>
				</div>
				<div class="modal-footer" style="text-align: left">
					<div class="progress progress-striped active" style="background: #ddd">
						<div class="bar bar-warning" style="width: 60%;"></div>
					</div>
					<a href="Learns"><button class="button"><span>Vào học </span></button></a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
				</div>
				<div class="caption">
					<h2>Thời tiết</h2>
					<p>My project description</p>
				</div>
				<div class="modal-footer" style="text-align: left">
					<div class="progress" style="background: #ddd">
						<div class="bar bar-success" style="width: 100%;"></div>
					</div>					
		<button class="button"><span>Vào học </span></button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
              </div>
              <div class="caption">
                <h2>Sức Khỏe</h2>
                <p>My project description</p>
              
              </div>
              <div class="modal-footer" style="text-align: left">
                <div class="progress progress-striped active" style="background: #ddd">
                  <div class="bar bar-danger" style="width: 30%;"></div>
                </div>
               <button class="button"><span>Vào học </span></button>
              </div>
            </div>
        </div>
    	<div class="col-sm-3">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
              </div>
              <div class="caption">
                <h2>Thể Thao</h2>
                <p>My project description (FROZEN, INACTIVE)</p>
              
              </div>
              <div class="modal-footer" style="text-align: left">
                <div class="progress" style="background: #ddd">
                  <div class="bar bar-info" style="width: 40%;"></div>
                </div>
               <button class="button"><span>Vào học </span></button>
              </div>
            </div>
        </div>
	</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
					<!-- <div class="clearfix visible-md-block visible-lg-block"></div> -->

			
				</div>
				<!-- END row -->

				
				<!-- End Spacer -->


				
				
				<div class="fh5co-spacer fh5co-spacer-md"></div>
				<div class="row">
					<!-- Start Slider Testimonial -->
	            <h2 class="fh5co-uppercase-heading-sm text-center animate-box">Châm ngôn của chúng tôi</h2>
	            <div class="fh5co-spacer fh5co-spacer-xs"></div>
	            <div class="owl-carousel-fullwidth animate-box">
	            <div class="item">
	              <p class="text-center quote">&ldquo;Life is 10% what happens to you and 90% how you respond to it &rdquo; <cite class="author">&mdash; Lou Holtz</cite></p>
	            </div>
	            <div class="item">
	              <p class="text-center quote">&ldquo;Never give up. Today is hard, tomorrow will be worse, but the day after tomorrow will be sunshine. &rdquo;<cite class="author">&mdash;  JACK MA</cite></p>
	            </div>
	            <div class="item">
	              <p class="text-center quote">&ldquo;Success is only meaningful and enjoynable if it fells like your own&rdquo;<cite class="author">&mdash; Michelle Obama</cite></p>
	            </div>
	          </div>
	           <!-- End Slider Testimonial -->
				</div>
				<!-- END row -->
				<div class="fh5co-spacer fh5co-spacer-md"></div>

			</div>
			<!-- END container -->

		
		</div>
		<!-- END fhtco-main -->