
<!-- tìm kiếm -->
<form>
  <input type="text" class="search" ="search" name="search" placeholder="Bạn muốn tìm gì?">
</form> 
<!-- .tìm kiếm -->

		<div id="fh5co-main">
	
			<div class="container">

				<div class="row" id="fh5co-features">
					


				        <!-- Page Content -->
        <div id="page-content-wrapper">
                   <div class="container">
               <div class="row">
		<div class="col-sm-3">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
				</div>
				<div class="caption">
					<h2>Gia Đình</h2>
					<p>My project description</p>
				</div>
				<div class="modal-footer" style="text-align: left">
					<div class="progress progress-striped active" style="background: #ddd">
						<div class="bar bar-warning" style="width: 60%;"></div>
					</div>
					<a href="noi_dung_bai_hoc.php"><button class="button"><span>Vào học </span></button></a>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
				</div>
				<div class="caption">
					<h2>Thời tiết</h2>
					<p>My project description</p>
				</div>
				<div class="modal-footer" style="text-align: left">
					<div class="progress" style="background: #ddd">
						<div class="bar bar-success" style="width: 100%;"></div>
					</div>					
		<button class="button"><span>Vào học </span></button>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
              </div>
              <div class="caption">
                <h2>Sức Khỏe</h2>
                <p>My project description</p>
              
              </div>
              <div class="modal-footer" style="text-align: left">
                <div class="progress progress-striped active" style="background: #ddd">
                  <div class="bar bar-danger" style="width: 30%;"></div>
                </div>
               <button class="button"><span>Vào học </span></button>
              </div>
            </div>
        </div>
    	<div class="col-sm-3">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
              </div>
              <div class="caption">
                <h2>Thể Thao</h2>
                <p>My project description (FROZEN, INACTIVE)</p>
              
              </div>
              <div class="modal-footer" style="text-align: left">
                <div class="progress" style="background: #ddd">
                  <div class="bar bar-info" style="width: 40%;"></div>
                </div>
               <button class="button"><span>Vào học </span></button>
              </div>
            </div>
        </div>
	</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

			
				</div>
				<!-- END row -->
				 <div class="clearfix visible-md-block visible-lg-block"></div> 
	 <div class="clearfix visible-md-block visible-lg-block"></div> 
	 	<br>
	 	<br>
	 		<br>
	 	<br>
